<div class="projects-container">
  <div class="searchbar-wrapper">
    <div class="searchbar">
      <i class="fas fa-search"></i>
    </div>
  </div>
  <% @projects.each do |project| %>
    <% proposals = Proposal.all.where(project_id: project.id).first(2) %>
    <div class="one-project-wrapper">
      <% if project.id == 1 %>
        <%= image_tag proposals.first.photo, class: 'green-border' %>
        <%= image_tag proposals.second.photo, class: 'green-border' %>
      <% else %>
        <%= image_tag proposals.first.photo %>
        <%= image_tag proposals.second.photo %>
      <% end %>
    </div>
  <% end %>
</div>
